/*-------------- FONTS --------------- */

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
	font-weight: 800;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Italic.ttf') format('truetype');
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Light.ttf') format('truetype');
	font-weight: 300;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Medium.ttf') format('truetype');
	font-weight: 500;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

/*--------------- LIB ---------------- */

.btn-primary {
	text-decoration: none;
	background-color: #2F8C55;
	color: #FFFFFF;
	font-size: 1rem;
	padding: 12px 16px;
	border-radius: 6px;
	display: flex;
	align-items: center;
}

.btn-secondary {
	text-decoration: none;
	padding: 12px 16px;
	color: #FFFFFF;
	font-size: 1rem;
	border-radius: 6px;
	border: 1px solid #FFFFFF;
	display: flex;
	align-items: center;
}

/*------------------------------------ */

* {
	margin: 0;
	padding: 0;
	font-family: 'OpenSans', sans-serif;
}

body {
	font-family: Arial, sans-serif;
    background-color: #0E110F;
	color: #FFFFFF;
}

header {
	display: inline;
}

.container {
	padding-inline: 348px;
}

.navbar {
	border-bottom: 1px solid #FFFFFF;
	height: 78px;
	box-sizing: border-box;
	position: sticky;
	top: 0;
	background-color: #0E110F;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 78px;
}

nav .logo {
	font-size: 1.5rem;
}

nav a, nav a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

nav > ul {
	list-style: none;
	display: flex;
	gap: 32px;
	font-size: 1rem;
	font-weight: bold;
}

nav > .app-buttons {
	display: flex;
	gap: 20px;
}

.hero-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: calc(100vh - 200px);
	gap: 64px;
}

.hero-content > .text {
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.hero-content > .text > .call-to-action {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.hero-content > .text > .call-to-action > h1 {
	font-size: 3rem;
}

.hero-content > .text > .call-to-action > p {
	font-size: 1.5rem;
	font-weight: normal;
}

.hero-content > .text > .app-buttons {
	display: flex;
	align-items: center;
	gap: 24px;
}

.hero-content > .text > .app-buttons > .sign-up-link {
	font-size: 1.25rem;
	padding: 16px 24px;
}

.hero-content > .text > .app-buttons > .video-link {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: #FFFFFF;
	gap: 16px;
	font-size: 1.15rem;
	position: relative;
}

.hero-content > .text > .app-buttons > .video-link > .btn-primary {
	height: 100%;
}

/*body {*/
/*    margin: 0;*/
/*    font-family: Arial, sans-serif;*/
/*    background-color: #0E110F;*/
/*    overflow-x: hidden;*/
/*}*/

/*header {*/
/*    background-color: #0E110F;*/
/*    padding: 10px 20px;*/
/*    border-bottom: 1px solid white;*/
/*    position: sticky;*/
/*    top: 0;*/
/*    z-index: 5;*/
/*}*/

/*.navbar {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    justify-content: space-evenly;*/
/*    align-items: center;*/
/*    background-color: #0E110F;*/
/*}*/

/*.logo {*/
/*    font-size: 24px;*/
/*    font-weight: bold;*/
/*    color: #fff;*/
/*    background-color: #0E110F;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    text-decoration: none;*/
/*}*/

/*.challenges-btn {*/
/*    border: none;*/
/*    background-color: #0E110F;*/
/*    color: white;*/
/*    font-size: 15px;*/
/*    cursor: pointer;*/
/*    font-weight: bold;*/
/*}*/

/*.initiative-btn {*/
/*    border: none;*/
/*    background-color: #0E110F;*/
/*    color: white;*/
/*    font-size: 15px;*/
/*    cursor: pointer;*/
/*    font-weight: bold;*/
/*}*/

/*.impact-btn {*/
/*    border: none;*/
/*    background-color: #0E110F;*/
/*    color: white;*/
/*    font-size: 15px;*/
/*    cursor: pointer;*/
/*    font-weight: bold;*/

/*}*/

/*.auth-buttons {*/
/*    display: flex;*/
/*}*/

/*.auth-buttons .btn {*/
/*    text-decoration: none;*/
/*    padding: 12px 20px;*/
/*    font-size: 16px;*/
/*    border-radius: 4px;*/
/*    margin-left: 10px;*/
/*    border: 2px solid transparent;*/
/*}*/

/*.create-account {*/
/*    background-color: #2F8C55;*/
/*    color: white;*/
/*    font-weight: bold;*/
/*    cursor: pointer;*/
/*}*/

/*.btn_login {*/
/*    background-color: #0E110F;*/
/*    color: white;*/
/*    border: 2px solid white;*/
/*    padding: 12px 50px;*/
/*    font-size: 16px;*/
/*    cursor: pointer;*/
/*    border-radius: 5px;*/
/*    text-decoration: none;*/
/*    margin-left: 20px;*/
/*    font-weight: bold;*/
/*}*/

/*.create-account:hover,*/
/*.login:hover {*/
/*    opacity: 0.8;*/
/*}*/

/*main {*/
/*    padding: 50px 20px;*/
/*    background-color: #0E110F;*/
/*    color: white;*/
/*}*/

/*.hero {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: space-between;*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*}*/

/*.hero-content {*/
/*    max-width: 600px;*/
/*}*/

/*.hero h1 {*/
/*    font-size: 70px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.hero p {*/
/*    font-size: 18px;*/
/*    margin-bottom: 30px;*/
/*    width: 48%;*/
/*}*/

/*.hero-buttons {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.hero-buttons .btn {*/
/*    text-decoration: none;*/
/*    padding: 15px 30px;*/
/*    font-size: 16px;*/
/*    border-radius: 4px;*/
/*    margin-right: 15px;*/
/*}*/

/*.primary-btn {*/
/*    background-color: #2F8C55;*/
/*    color: white;*/
/*    font-weight: bold;*/
/*}*/

/*.secondary-btn {*/
/*    background-color: #2F8C55;*/
/*    color: white;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    padding: 0px !important;*/
/*}*/

/*.video-icon {*/
/*    margin-right: 10px;*/
/*    font-weight: bold;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/

/*.hero-image img {*/
/*    max-width: 500px;*/
/*    height: auto;*/
/*    width: 90%;*/
/*    margin-top: 130px;*/
/*}*/

/*.challenges {*/
/*    background-color: #0E110F;*/
/*    color: white;*/
/*    padding: 50px 20px;*/
/*}*/

/*.container {*/
/*    width: 80%;*/
/*    margin: 0 auto;*/
/*}*/

/*.section-header{*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.section-header h2 {*/
/*    color: white;*/
/*    font-size: 36px;*/
/*    margin-bottom: 10px;*/
/*    margin: 0 auto;*/
/*    float: left;*/
/*    width: 950px;*/
/*    padding: 10px;*/
/*}*/

/*.section-header p {*/
/*    width: 25%;*/
/*    margin: 0 auto;*/
/*    color: white;*/
/*    font-size: 18px;*/
/*    text-align: justify;*/
/*    margin-bottom: 40px;*/
/*}*/

/*.challenges-grid {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*    gap: 20px;*/
/*}*/

/*.challenge-card {*/
/*    width: 28.75%;*/
/*    height: 286px;*/
/*    min-width: 250px;*/
/*    padding: 20px;*/
/*    border: 1px solid #333;*/
/*    text-align: left;*/
/*    border: 1px solid white;*/
/*}*/

/*.challenge-card .icon {*/
/*    font-size: 36px;*/
/*    margin-bottom: 15px;*/
/*}*/

/*.challenge-card h3 {*/
/*    font-size: 24px;*/
/*    margin-bottom: 10px;*/
/*    color: #f5f5f5;*/
/*}*/

/*.challenge-card p {*/
/*    font-size: 16px;*/
/*    line-height: 1.5;*/
/*    color: #cccccc;*/
/*}*/


/*.sustainability-section {*/
/*    padding: 50px 20px;*/
/*    background-color: #0E110F;*/
/*    color: white;*/
/*    text-align: center;*/
/*    height: 1150px;*/
/*    margin-bottom: 200px;*/
/*}*/

/*.sustainability-section h2 {*/
/*    font-size: 36px;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.sustainability-section p {*/
/*    font-size: 18px;*/
/*    margin-bottom: 40px;*/
/*    color: #b3b3b3;*/
/*}*/

/*.sustainability-grid {*/
/*    display: grid;*/
/*    gap: 20px*/
/*}*/

/*.sustainability-card-1 {*/
/*    display: flex;*/
/*    width: 100%;*/
/*    justify-content: left;*/
/*    align-items: center;*/
/*    background-color: #0E110F;*/
/*    height: 500px;*/
/*    text-align: left;*/
/*    border: 1px solid white;*/
/*}*/

/*.sustainability-card-1 img{*/
/*    width: 25%;*/
/*    margin-left: 15%;*/
/*    min-width: 100px;*/
/*}*/

/*.sustainability-card-1 .sustainability-title{*/
/*    width: 42%;*/
/*    margin: 0;*/
/*    margin-left: 10%;*/
/*}*/

/*.sustainability-card-2 {*/
/*    width: 33%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*    border: 1px solid white;*/
/*    align-items: center;*/
/*    height: 520px;*/
/*    padding: 30px;*/
/*    text-align: left;*/
/*}*/


/*.sustainability-card-2 img{*/
/*    width: 40%;*/
/*    min-width: 100px;*/
/*}*/

/*.sustainability-card-3 {*/
/*    width: 55%;*/
/*    min-width: 4%;*/
/*    padding: 25px;*/
/*    height: 520px;*/
/*    border: 1px solid white;*/
/*    position: relative;*/
/*    margin-left: 41%;*/
/*    bottom: 37.5rem;*/
/*}*/

/*.sustainability-card-3 p{*/
/*    text-align: left;*/
/*}*/

/*.sustainability-card-3 h3 {*/
/*    text-align: left;*/
/*    font-size: 30px;*/
/*}*/

/*.sustainability-card-3 img{*/
/*    width: 40%;*/
/*    min-width: 100px;*/
/*}*/

/*.sustainability-title {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    width: 80%;*/
/*    margin: 0 auto;*/
/*}*/

/*.sustainability-title p{*/
/*    font-size: 20px;*/
/*}*/

/*.sustainability-title h3 {*/
/*    font-size: 30px;*/
/*    margin-bottom: -5px;*/
/*}*/

/*.impact-compare {*/
/*    background-color: #0E110F;*/
/*    color: white;*/
/*    padding-bottom:  100px;*/
/*    text-align: center;*/
/*    border-bottom: 1px solid white;*/
/*}*/

/*.impact-compare h2 {*/
/*    font-size: 36px;*/
/*    margin-bottom: 10px;*/
/*    text-align: right;*/
/*}*/

/*.subtitle {*/
/*    font-size: 18px;*/
/*    margin-bottom: 100px;*/
/*    color: #b3b3b3;*/
/*    text-align: right;*/
/*}*/

/*.impact-grid {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    gap: 50px;*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*}*/

/*.impact-left, .impact-right {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 40px;*/
/*    max-width: 500px;*/
/*    width: 100%;*/
/*}*/

/*.impact-item h3 {*/
/*    font-size: 24px;*/
/*    margin-bottom: 10px;*/
/*    color: #f5f5f5;*/
/*}*/

/*.impact-item p {*/
/*    font-size: 16px;*/
/*    line-height: 1.5;*/
/*    color: #cccccc;*/
/*}*/

/*.divider {*/
/*    width: 1px;*/
/*    background-color: #666;*/
/*    height: auto;*/
/*}*/

/*footer {*/
/*    background-color: #0E110F;*/
/*    color: white;*/
/*    padding: 20px 0;*/
/*    font-weight: bold;*/
/*}*/

/*.footer-container {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: flex-start;*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*    padding: 0 20px;*/
/*}*/

/*.footer-left p {*/
/*    font-size: 14px;*/
/*    max-width: 600px;*/
/*}*/

/*.footer-links {*/
/*    display: flex;*/
/*}*/

/*.footer-col {*/
/*    margin-right: 40px;*/
/*}*/

/*.footer-col h4 {*/
/*    font-size: 18px;*/
/*    margin-bottom: 10px;*/
/*}*/

/*.footer-col ul {*/
/*    list-style: none;*/
/*    padding: 0;*/
/*}*/

/*.footer-col ul li {*/
/*    margin-bottom: 10px;*/
/*}*/

/*.footer-col ul li a {*/
/*    color: #b3b3b3;*/
/*    text-decoration: none;*/
/*}*/

/*.footer-col ul li a:hover {*/
/*    color: white;*/
/*}*/

/*@media  (min-width:769px) and (max-width:1024px) {*/
/*    header{*/
/*        width: 100%;*/
/*    }*/
/*    */
/*    .sustainability-card-3 {*/
/*        width: 49%;*/
/*        min-width: 200px;*/
/*        padding: 25px;*/
/*        height: 520px;*/
/*        border: 1px solid white;*/
/*        position: relative;*/
/*        margin-left: 43.75%;*/
/*        bottom: 37.25rem;*/
/*    }*/

/*    nav{*/
/*        width: 100%;*/
/*    }*/
/*}*/

/*@media (max-width: 424px){*/
/*    .challenge-card {*/
/*        width: 100%*/
/*    }*/
/*}*/

/*@media (min-width: 425px) and (max-width: 768px) {*/

/*    .container {*/
/*        width: 80%;*/
/*        margin: 0 auto;*/
/*    }*/
/*    */
/*    header{*/
/*        padding: 0;*/
/*        width: 100%;*/
/*    }*/

/*    .navbar {*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        padding: 0;*/
/*        min-width: 100%;*/
/*        height: 100px;*/
/*    }*/
/*    */
/*    .logo {*/
/*        width: 100%;*/
/*        margin-left: 10%;*/
/*        display: flex;*/
/*        justify-content: flex-start;*/
/*    }*/

/*    .challenges-btn,*/
/*    .initiative-btn,*/
/*    .impact-btn {*/
/*        text-align: center;*/
/*    }*/

/*    .auth-buttons {*/
/*        display: flex;*/
/*        align-items: center;*/
/*    }*/

/*    .auth-buttons{*/
/*        display: flex;*/
/*        position: relative;*/
/*        bottom: 45%;*/
/*        flex-direction: row;*/
/*        justify-content: space-between;*/
/*        width: 95%;*/
/*    }*/

/*    .hero {*/
/*        width: 100%;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*    }*/

/*    .hero-content {*/
/*        width: 100%;*/
/*        text-align: center;*/
/*    }*/

/*    .hero-content h1 {*/
/*        font-size: 48px;*/
/*        line-height: 1.2;*/
/*        margin-bottom: 15px;*/
/*    }*/

/*    .hero-content p {*/
/*        width: 100%;*/
/*        text-align: center;*/
/*        font-size: 16px;*/
/*    }*/

/*    .hero-buttons {*/
/*        width: 100%;*/
/*        justify-content: center;*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        margin: 0;*/
/*    }*/

/*    .hero-button .btn{*/
/*        background-color: #2F8C55;*/
/*        border: #0E110F;*/
/*        width: 400px;*/
/*    }*/

/*    .hero-image img {*/
/*        max-width: 100%;*/
/*        height: auto;*/
/*        margin: 0;*/
/*    }*/


/*    .section-header {*/
/*        width: 100%;*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*    }*/

/*    .section-header h2 {*/
/*        font-size: 28px;*/
/*        text-align: left;*/
/*    }*/

/*    .section-header p{*/
/*        margin-top: 15px;*/
/*        width: 100%;*/
/*        font-size: 1rem;*/
/*        text-align: left;*/
/*    }*/

/*    .challenges-grid{*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*    }*/

/*    !*Correto*!*/

/*    .sustainability-section{*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        min-height: 1700px;*/
/*    }*/

/*    .sustainability-grid{*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*        flex-direction: column;*/
/*    }*/

/*    .sustainability-title p {*/
/*        font-size: 18px;*/
/*        width: 100%;*/
/*    }*/

/*    .sustainability-card-1{*/
/*        display: flex;*/
/*        justify-content: center;*/
/*        align-items: center;*/
/*        flex-direction: column;*/
/*        width: 100%;*/
/*    }*/

/*    .sustainability-card-1 p{*/
/*        font-size: 14px;*/
/*    }*/

/*    .sustainability-card-1 h3{*/
/*        font-size: 22px;*/
/*    }*/
/*    */
/*    .sustainability-card-1 .sustainability-title{*/
/*        width: 80%;*/
/*        margin: 0 auto;*/

/*    }*/

/*    .sustainability-card-1 img{*/
/*        width: 40%;*/
/*    }*/



/*    .sustainability-card-2{*/
/*        padding: 0;*/
/*        justify-content: center;*/
/*        display: flex;*/
/*        align-items: center;*/
/*        flex-direction: column;*/
/*        width: 100%;*/
/*    }*/

/*    .sustainability-card-2 .sustainability-title{*/
/*        width: 80%;*/
/*        margin: 0 auto;*/
/*    }*/

/*    .sustainability-card-2 img{*/
/*        width: 40%;*/
/*    }*/
/*    .sustainability-card-3 {*/
/*        padding: 0;*/
/*        align-items: center;*/
/*        flex-direction: column;*/
/*        margin: 0;*/
/*        position: static;*/
/*        display: flex;*/
/*        width: 100%;*/
/*    }*/

/*    .sustainability-card-3 img{*/
/*        width: 40%;*/
/*    }*/

/*    .sustainability-card-3 .sustainability-title{*/
/*        width: 80%;*/
/*        margin: 0 auto;*/
/*    }*/



/*    .impact-compare h2,*/
/*    .subtitle {*/
/*        text-align: center;*/
/*    }*/

/*    .impact-grid {*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*        gap: 30px;*/
/*    }*/

/*    .impact-left, .impacto-right {*/
/*        max-width: 100%;*/
/*    }*/

/*    .divider {*/
/*        display: none;*/
/*    }*/
/*    .impact-comparado img {*/
/*    max-width: 100px;  !* Define o tamanho máximo para a imagem *!*/
/*    height: auto;  !* Mantém a proporção *!*/
/*    margin: 20px auto;  !* Centraliza a imagem *!*/
/*    display: block;*/
/*    }*/


/*    footer {*/
/*        padding: 40px 20px;*/
/*    }*/

/*    .footer-container {*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*    }*/

/*    .footer-left p {*/
/*        text-align: center;*/
/*        max-width: 100%;*/
/*    }*/

/*    .footer-col {*/
/*        text-align: center;*/
/*        margin-bottom: 20px;*/
/*    }*/

/*    .footer-links {*/
/*        flex-direction: column;*/
/*        align-items: center;*/
/*    }*/

/*    .challenge-card h3, .impacto-item h3, .sustentabilidade-card-2 h3, .sustentabilidade-card-3 h3 {*/
/*        font-size: 22px;*/
/*    }*/

/*    .challenge-card p, .impacto-item p, .sustentabilidade-card-2 p, .sustentabilidade-card-3 p {*/
/*        font-size: 14px;*/
/*    }*/
/*}*/
